[Install]
WantedBy=multi-user.target

[Unit]
Description=Proxy for PINK Discord bot

[Service]
Type=simple
Restart=always

WorkingDirectory=/srv/pink-proxy
Environment="IMAGE=fogapod/pink-proxy"
Environment="PWD=/srv/pink-proxy"

TimeoutStartSec=15m

# not sure if this is required, but build is inconsistent with pulling all the time
ExecStartPre=-/usr/bin/podman pull $IMAGE
# i like systemd (no)
ExecStartPre=/bin/sh -c "podman build -t $IMAGE ."

ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n

ExecStart=/usr/bin/podman run --name %n --rm -p 8000:8000 \
    ${PWD}/.env:/usr/src/pink-proxy/.env:U --hostname pink_proxy_prod $IMAGE
